.filterSection {
  width: 24%;
  padding-right: 20px;
}

@media (max-width: 991px) {
  .filterSection {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
}

.customizable {
  margin-bottom: 24px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  width: 22px;
  height: 22px;
  border: 0.917px solid var(--Text-Secondary-Text, #4d4d4d);
  background-color: var(--Misc-White, #fff);
  margin-right: 8px;
}

.checkboxText {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Text-Text, #252020);
}

.divider {
  border: none;
  border-top: 1px solid rgba(229, 229, 229, 1);
  margin: 24px 0;
}

.filterGroup {
  margin-bottom: 24px;
}

.filterTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Text-Text, #252020);
  margin-bottom: 8px;
}

.expandIcon {
  width: 24px;
  height: 24px;
}

.filterOptions {
  font-size: 18px;
  font-weight: 400;
  color: var(--Text-Text, #252020);
}